.container {
    margin-top: 20px;
  }
  
  .row {
    justify-content: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-row {
    display: flex;
    gap: 20px; /* Espaço entre as caixas de texto */
    margin-bottom: 20px;
  }
  
  .filters {
    display: flex;
    gap: 20px; /* Espaço entre os filtros */
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .btn {
    width: 160px; /* Mantém a largura automática para os botões */
    font-weight: bold;
    border-radius: 30px;
  }
  
  .table {
    margin-top: 20px;
  }  

  .label{
    color: blue;
    font-size: 80px;
    font-weight: bold;
  }