.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 180px;
}

.row{
    justify-content: center;
}

.Label{
    color: blue;
    font-size: 150px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.btn{
    width: 150px;
    height: 50px;
    border-radius: 35px;
    margin-left: 150px;
    font-size: 24px;
    font: bold;
    margin-top: 30px;
}

